.chatsList {
  border-right: 4px solid grey;
  padding: 0 !important;
  max-width: 350px !important;
  width: 350px;
}

.newMsgBtn {
  margin: 5px !important;

  span {
    display: none;
  }

  &:hover {
    span {
      display: block;
    }
  }
}

.titleTruncate {
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.msgTruncate {
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
